{%  extends'layout.html.twig' %}

{% block content %}

    <div class="breadcrumbs"><a href="/">Homepage</a> &raquo;</div>

    <h1>Order Confirmation</h1>

    <p>We've received your order! Thanks for shopping with us.</p>
    <p>Be on the lookout for yur order confirmation email 😀</p>

{% endblock %}