{%  extends'layout.html.twig' %}

{% block content %}

    <h1>Page not found</h1>

    <p>Oops. Well this is embarrassing isn't it?</p>
    <p>The page you are looking for no longer exists. <a href="/">Return to the homepage.</a></p>

{% endblock %}